.form__button {
  margin-top: 45px;
  padding: 14px 0;
  width: 100%;
  border-radius: 2px;
  border: 0;
  background-color: #000;
  font-size: 14px;
  line-height: 17px;
  transition: opacity .4s ease;
  color: #fff;
}

.form__button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media (min-width:1024px) {

  .form__button {
    margin-top: 50px;
    font-size: 18px;
    line-height: 20px;
  }
}
